# Python
__pycache__/
*.py[cod]
venv/

# C++
*.o
*.out
*.so

# VHDL
*.cf
*.work

# Docker
docker-compose.override.yml

# Sistemas operacionais
.DS_Store
Thumbs.db

# Logs e dados
*.log
*.h5
*.csv

# NS-3
build/
